# Copy this file to .env and fill in real values.
# VM (self-managed MySQL)
VM_DB_HOST=
VM_DB_PORT=3306
VM_DB_USER=
VM_DB_PASS=
VM_DB_NAME=


# Managed MySQL
MAN_DB_HOST=
MAN_DB_PORT=3306
MAN_DB_USER=
MAN_DB_PASS=
MAN_DB_NAME= 